projects/
templates/
docker/data/
docker/logs/
docker/storage/
.metadata
.idea/
docker/registry/data
var/
assets/
tools/
.git
bin/
.idea/
.vscode/
README.md
Makefile
local.Makefile
CHANGES.md
.gitignore
env
env.local