!/**/.gitkeep
!/**/*.gitkeep
!/docker/config/dist/conf/**/sites-available/example*
!/docker/config/dist/conf/**/example*

/**/*.git.ignore
/**/*.git.ignore.*
/**/*.git.ignore/*
/**/*.git.ignore.*/*

/.history
/.metadata
/workspace
/.idea
/.vscode

/.env.local*
/.env.*local*
/.env.tmp*
/.env.merge*
/.env.src.all.merged
/.env*.src.all.merged
/.env.backup*
/.env.copy*

docker-compose*.local.yaml
local.*docker-compose.yaml
docker-compose.all.yaml

Dockerfile*.local

local.*Dockerfile
local.*Makefile

Makefile*.local
Taskfile.yaml

/docker/images/local.*/*
/docker/images/*.local/*
/docker/images/**/*.local.sh

/docker/config/dist/bin/local.*/*
/docker/config/dist/bin/*.local/*
/docker/config/dist/bin/**/*.local.*

/docker/config/dist/conf/local.*/*
/docker/config/dist/conf/*.local/*
/docker/config/dist/conf/**/*.local.*

/var
/projects
/tools

/docker/logs/**/*.log

/docker/config/dist/conf/**/sites-available/*.conf
/docker/config/dist/conf/**/sites-available/*.caddy
/docker/config/dist/conf/**/*.caddy

docker/config/dist/conf/http-common/ssl/*.pem

/docker/config/dist/conf/**/*.local.*
/docker/config/dist/conf/**/Caddyfile.local
/docker/config/dist/conf/http-common/optional-conf/modsec-conf/local.*

/docker/config/etc/hosts
/docker/config/root/.*_history
/docker/config/etc/env*

!/docker/config/root/.gitconfig
!/docker/config/root/.gitattributes
/docker/config/root/**/*

/docker/data/**/*

/docker/storage/**

docker/registry/data
docker/registry/certs
!docker/registry/config.json
docker/registry/config.local.json

docker/config/dist/conf/localstack-init/init*/**/*.local.*

docker/config/dist/conf/serverless/**/*.local.*
docker/config/dist/conf/serverless/**/local.*/
docker/config/dist/conf/serverless/**/*.local/