shamefully-hoist=true
public-hoist-pattern=*
#hoist=true
#prefix="${STACK_GLOBAL_DOCKER_TOOLS_PATH}/.npm"
cache=${NPM_CACHE_DIR}
global-dir=${GLOBAL_STACK_PNPM_GLOBAL_DIR}/global
store-dir=${GLOBAL_STACK_PNPM_STORE_DIR}
side-effects-cache=true
side-effects-cache-readonly=true
use-beta-cli=true
fetch-retries=10
loglevel=error
