# @todo check-updates
[mysqld]
character-set-server=${GLOBAL_STACK_DATABASE_CHARSET}
collation-server=${GLOBAL_STACK_DATABASE_COLLATE}

# [client]
# default-character-set=${GLOBAL_STACK_DATABASE_CHARSET}